<a href="https://colab.research.google.com/github/sunil1206/Data-science-mini-projects/blob/main/cost_of_living_csv_to_cost_of_living.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Files Upload**

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving cost-of-living.csv to cost-of-living.csv

 # **Importing necessary Libraries**

In [ ]:
import pandas as pd

# **Reading Dataset**

In [ ]:
df = pd.read_csv("cost-of-living.csv",index_col=0)
df = df.T.reset_index()
df = df.rename(columns={'index':'City'})
df

                         City  ...  International Primary School, Yearly for 1 Child
0    Saint Petersburg, Russia  ...                                           5388.86
1            Istanbul, Turkey  ...                                           6905.43
2               Izmir, Turkey  ...                                           4948.41
3           Helsinki, Finland  ...                                           1641.00
4           Chisinau, Moldova  ...                                           2679.30
..                        ...  ...                                               ...
155      Melbourne, Australia  ...                                          12874.09
156          Perth, Australia  ...                                          11526.08
157         Sydney, Australia  ...                                          11933.55
158         Alexandria, Egypt  ...                                           2132.54
159            Quito, Ecuador  ...                                           6410.05

[160 rows x 56 columns]

In [ ]:
df.shape

(160, 56)

In [ ]:
df.isna().sum()

City                                                                          0
Meal, Inexpensive Restaurant                                                  0
Meal for 2 People, Mid-range Restaurant, Three-course                         0
McMeal at McDonalds (or Equivalent Combo Meal)                                0
Domestic Beer (0.5 liter draught)                                             0
Imported Beer (0.33 liter bottle)                                             0
Coke/Pepsi (0.33 liter bottle)                                                0
Water (0.33 liter bottle)                                                     0
Milk (regular), (1 liter)                                                     0
Loaf of Fresh White Bread (500g)                                              0
Eggs (regular) (12)                                                           0
Local Cheese (1kg)                                                            0
Water (1.5 liter bottle)                                                      0
Bottle of Wine (Mid-Range)                                                    0
Domestic Beer (0.5 liter bottle)                                              0
Imported Beer (0.33 liter bottle)                                             0
Cigarettes 20 Pack (Marlboro)                                                 0
One-way Ticket (Local Transport)                                              0
Chicken Breasts (Boneless, Skinless), (1kg)                                   0
Monthly Pass (Regular Price)                                                  0
Gasoline (1 liter)                                                            0
Volkswagen Golf                                                               0
Apartment (1 bedroom) in City Centre                                          0
Apartment (1 bedroom) Outside of Centre                                       0
Apartment (3 bedrooms) in City Centre                                         0
Apartment (3 bedrooms) Outside of Centre                                      0
Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment      0
1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)                 0
Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)                        0
Fitness Club, Monthly Fee for 1 Adult                                         0
Tennis Court Rent (1 Hour on Weekend)                                         0
Cinema, International Release, 1 Seat                                         0
1 Pair of Jeans (Levis 501 Or Similar)                                        0
1 Summer Dress in a Chain Store (Zara, H&M, ...)                              0
1 Pair of Nike Running Shoes (Mid-Range)                                      0
1 Pair of Men Leather Business Shoes                                          0
Price per Square Meter to Buy Apartment in City Centre                        0
Price per Square Meter to Buy Apartment Outside of Centre                     0
Average Monthly Net Salary (After Tax)                                        0
Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate    0
Taxi Start (Normal Tariff)                                                    0
Taxi 1km (Normal Tariff)                                                      0
Taxi 1hour Waiting (Normal Tariff)                                            0
Apples (1kg)                                                                  0
Oranges (1kg)                                                                 0
Potato (1kg)                                                                  0
Lettuce (1 head)                                                              0
Cappuccino (regular)                                                          0
Rice (white), (1kg)                                                           0
Tomato (1kg)                                                                  0
Banana (1kg)                                                                  0
Onion (1kg)                                                                   0
Beef Round (1kg) (or Equivalent Back Leg Red Meat)                            0
Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car)                      0
Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child           0
International Primary School, Yearly for 1 Child                              0
dtype: int64

In [ ]:
df.columns
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 56 columns):
 #   Column                                                                      Non-Null Count  Dtype
---  ------                                                                      --------------  -----
 0   City                                                                        160 non-null    object
 1   Meal, Inexpensive Restaurant                                                160 non-null    float64
 2   Meal for 2 People, Mid-range Restaurant, Three-course                       160 non-null    float64
 3   McMeal at McDonalds (or Equivalent Combo Meal)                              160 non-null    float64
 4   Domestic Beer (0.5 liter draught)                                           160 non-null    float64
 5   Imported Beer (0.33 liter bottle)                                           160 non-null    float64
 6   Coke/Pepsi (0.33 liter bottle)                                              160 non-null    float64
 7   Water (0.33 liter bottle)                                                   160 non-null    float64
 8   Milk (regular), (1 liter)                                                   160 non-null    float64
 9   Loaf of Fresh White Bread (500g)                                            160 non-null    float64
 10  Eggs (regular) (12)                                                         160 non-null    float64
 11  Local Cheese (1kg)                                                          160 non-null    float64
 12  Water (1.5 liter bottle)                                                    160 non-null    float64
 13  Bottle of Wine (Mid-Range)                                                  160 non-null    float64
 14  Domestic Beer (0.5 liter bottle)                                            160 non-null    float64
 15  Imported Beer (0.33 liter bottle)                                           160 non-null    float64
 16  Cigarettes 20 Pack (Marlboro)                                               160 non-null    float64
 17  One-way Ticket (Local Transport)                                            160 non-null    float64
 18  Chicken Breasts (Boneless, Skinless), (1kg)                                 160 non-null    float64
 19  Monthly Pass (Regular Price)                                                160 non-null    float64
 20  Gasoline (1 liter)                                                          160 non-null    float64
 21  Volkswagen Golf                                                             160 non-null    float64
 22  Apartment (1 bedroom) in City Centre                                        160 non-null    float64
 23  Apartment (1 bedroom) Outside of Centre                                     160 non-null    float64
 24  Apartment (3 bedrooms) in City Centre                                       160 non-null    float64
 25  Apartment (3 bedrooms) Outside of Centre                                    160 non-null    float64
 26  Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment    160 non-null    float64
 27  1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)               160 non-null    float64
 28  Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)                      160 non-null    float64
 29  Fitness Club, Monthly Fee for 1 Adult                                       160 non-null    float64
 30  Tennis Court Rent (1 Hour on Weekend)                                       160 non-null    float64
 31  Cinema, International Release, 1 Seat                                       160 non-null    float64
 32  1 Pair of Jeans (Levis 501 Or Similar)                                      160 non-null    float64
 33  1 Summer Dress in a Chain Store (Zara, H&M, ...)                            160 non-null    float64
 34  1 Pair of Nike Running Shoes (Mid-Range)                                    160 non-null    float64
 35  1 Pair of Men Leather Business Shoes                                        160 non-null    float64
 36  Price per Square Meter to Buy Apartment in City Centre                      160 non-null    float64
 37  Price per Square Meter to Buy Apartment Outside of Centre                   160 non-null    float64
 38  Average Monthly Net Salary (After Tax)                                      160 non-null    float64
 39  Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate  160 non-null    float64
 40  Taxi Start (Normal Tariff)                                                  160 non-null    float64
 41  Taxi 1km (Normal Tariff)                                                    160 non-null    float64
 42  Taxi 1hour Waiting (Normal Tariff)                                          160 non-null    float64
 43  Apples (1kg)                                                                160 non-null    float64
 44  Oranges (1kg)                                                               160 non-null    float64
 45  Potato (1kg)                                                                160 non-null    float64
 46  Lettuce (1 head)                                                            160 non-null    float64
 47  Cappuccino (regular)                                                        160 non-null    float64
 48  Rice (white), (1kg)                                                         160 non-null    float64
 49  Tomato (1kg)                                                                160 non-null    float64
 50  Banana (1kg)                                                                160 non-null    float64
 51  Onion (1kg)                                                                 160 non-null    float64
 52  Beef Round (1kg) (or Equivalent Back Leg Red Meat)                          160 non-null    float64
 53  Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car)                    160 non-null    float64
 54  Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child         160 non-null    float64
 55  International Primary School, Yearly for 1 Child                            160 non-null    float64
dtypes: float64(55), object(1)
memory usage: 70.1+ KB

       Meal, Inexpensive Restaurant  ...  International Primary School, Yearly for 1 Child
count                    160.000000  ...                                        160.000000
mean                       7.967187  ...                                       8039.567875
std                        4.474586  ...                                       5972.758905
min                        1.490000  ...                                        788.020000
25%                        4.647500  ...                                       3666.565000
50%                        6.285000  ...                                       6460.615000
75%                       11.472500  ...                                      10511.532500
max                       23.120000  ...                                      34441.930000

[8 rows x 55 columns]

In [ ]:
data = df[['City', 'Meal, Inexpensive Restaurant',
       'Meal for 2 People, Mid-range Restaurant, Three-course',
       'McMeal at McDonalds (or Equivalent Combo Meal)',
       'Domestic Beer (0.5 liter draught)',
       'Imported Beer (0.33 liter bottle)', 'Coke/Pepsi (0.33 liter bottle)',
       'Water (0.33 liter bottle) ', 'Milk (regular), (1 liter)',
       'Loaf of Fresh White Bread (500g)', 'Eggs (regular) (12)',
       'Local Cheese (1kg)', 'Water (1.5 liter bottle)',
       'Bottle of Wine (Mid-Range)', 'Domestic Beer (0.5 liter bottle)',
       'Imported Beer (0.33 liter bottle)', 'Cigarettes 20 Pack (Marlboro)',
       'One-way Ticket (Local Transport)',
       'Chicken Breasts (Boneless, Skinless), (1kg)',
       'Monthly Pass (Regular Price)', 'Gasoline (1 liter)', 'Volkswagen Golf',
       'Apartment (1 bedroom) in City Centre',
       'Apartment (1 bedroom) Outside of Centre',
       'Apartment (3 bedrooms) in City Centre',
       'Apartment (3 bedrooms) Outside of Centre',
       'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment',
       '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)',
       'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)',
       'Fitness Club, Monthly Fee for 1 Adult',
       'Tennis Court Rent (1 Hour on Weekend)',
       'Cinema, International Release, 1 Seat',
       '1 Pair of Jeans (Levis 501 Or Similar)',
       '1 Summer Dress in a Chain Store (Zara, H&M, ...)',
       '1 Pair of Nike Running Shoes (Mid-Range)',
       '1 Pair of Men Leather Business Shoes',
       'Price per Square Meter to Buy Apartment in City Centre',
       'Price per Square Meter to Buy Apartment Outside of Centre',
       'Average Monthly Net Salary (After Tax)',
       'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate',
       'Taxi Start (Normal Tariff)', 'Taxi 1km (Normal Tariff)',
       'Taxi 1hour Waiting (Normal Tariff)', 'Apples (1kg)', 'Oranges (1kg)',
       'Potato (1kg)', 'Lettuce (1 head)', 'Cappuccino (regular)',
       'Rice (white), (1kg)', 'Tomato (1kg)', 'Banana (1kg)', 'Onion (1kg)',
       'Beef Round (1kg) (or Equivalent Back Leg Red Meat)',
       'Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car)',
       'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child',
       'International Primary School, Yearly for 1 Child']]
mean = data.mean()
data = data.columns
below_salary = [ ]
# we can remove some columns mean value above the average monthly net salary
for i in range(1,len(mean)):
    if mean[i]<=df['Average Monthly Net Salary (After Tax)'][i]:   
       below_salary.append(data[i+1])

In [ ]:
below_salary

['Meal for 2 People, Mid-range Restaurant, Three-course',
 'McMeal at McDonalds (or Equivalent Combo Meal)',
 'Domestic Beer (0.5 liter draught)',
 'Imported Beer (0.33 liter bottle)',
 'Imported Beer (0.33 liter bottle)',
 'Coke/Pepsi (0.33 liter bottle)',
 'Water (0.33 liter bottle) ',
 'Milk (regular), (1 liter)',
 'Loaf of Fresh White Bread (500g)',
 'Eggs (regular) (12)',
 'Local Cheese (1kg)',
 'Water (1.5 liter bottle)',
 'Bottle of Wine (Mid-Range)',
 'Domestic Beer (0.5 liter bottle)',
 'Imported Beer (0.33 liter bottle)',
 'Imported Beer (0.33 liter bottle)',
 'Cigarettes 20 Pack (Marlboro)',
 'One-way Ticket (Local Transport)',
 'Chicken Breasts (Boneless, Skinless), (1kg)',
 'Monthly Pass (Regular Price)',
 'Gasoline (1 liter)',
 'Apartment (1 bedroom) in City Centre',
 'Apartment (3 bedrooms) Outside of Centre',
 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment',
 '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)',
 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)',
 'Fitness Club, Monthly Fee for 1 Adult',
 'Tennis Court Rent (1 Hour on Weekend)',
 'Cinema, International Release, 1 Seat',
 '1 Pair of Jeans (Levis 501 Or Similar)',
 '1 Summer Dress in a Chain Store (Zara, H&M, ...)',
 '1 Pair of Nike Running Shoes (Mid-Range)',
 '1 Pair of Men Leather Business Shoes',
 'Price per Square Meter to Buy Apartment Outside of Centre',
 'Average Monthly Net Salary (After Tax)',
 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate',
 'Taxi Start (Normal Tariff)',
 'Taxi 1km (Normal Tariff)',
 'Taxi 1hour Waiting (Normal Tariff)',
 'Apples (1kg)',
 'Oranges (1kg)',
 'Potato (1kg)',
 'Lettuce (1 head)',
 'Cappuccino (regular)',
 'Rice (white), (1kg)',
 'Tomato (1kg)',
 'Banana (1kg)',
 'Onion (1kg)',
 'Beef Round (1kg) (or Equivalent Back Leg Red Meat)',
 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child']

In [ ]:
df.columns

Index(['City', 'Meal, Inexpensive Restaurant',
       'Meal for 2 People, Mid-range Restaurant, Three-course',
       'McMeal at McDonalds (or Equivalent Combo Meal)',
       'Domestic Beer (0.5 liter draught)',
       'Imported Beer (0.33 liter bottle)', 'Coke/Pepsi (0.33 liter bottle)',
       'Water (0.33 liter bottle) ', 'Milk (regular), (1 liter)',
       'Loaf of Fresh White Bread (500g)', 'Eggs (regular) (12)',
       'Local Cheese (1kg)', 'Water (1.5 liter bottle)',
       'Bottle of Wine (Mid-Range)', 'Domestic Beer (0.5 liter bottle)',
       'Imported Beer (0.33 liter bottle)', 'Cigarettes 20 Pack (Marlboro)',
       'One-way Ticket (Local Transport)',
       'Chicken Breasts (Boneless, Skinless), (1kg)',
       'Monthly Pass (Regular Price)', 'Gasoline (1 liter)', 'Volkswagen Golf',
       'Apartment (1 bedroom) in City Centre',
       'Apartment (1 bedroom) Outside of Centre',
       'Apartment (3 bedrooms) in City Centre',
       'Apartment (3 bedrooms) Outside of Centre',
       'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment',
       '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)',
       'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)',
       'Fitness Club, Monthly Fee for 1 Adult',
       'Tennis Court Rent (1 Hour on Weekend)',
       'Cinema, International Release, 1 Seat',
       '1 Pair of Jeans (Levis 501 Or Similar)',
       '1 Summer Dress in a Chain Store (Zara, H&M, ...)',
       '1 Pair of Nike Running Shoes (Mid-Range)',
       '1 Pair of Men Leather Business Shoes',
       'Price per Square Meter to Buy Apartment in City Centre',
       'Price per Square Meter to Buy Apartment Outside of Centre',
       'Average Monthly Net Salary (After Tax)',
       'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate',
       'Taxi Start (Normal Tariff)', 'Taxi 1km (Normal Tariff)',
       'Taxi 1hour Waiting (Normal Tariff)', 'Apples (1kg)', 'Oranges (1kg)',
       'Potato (1kg)', 'Lettuce (1 head)', 'Cappuccino (regular)',
       'Rice (white), (1kg)', 'Tomato (1kg)', 'Banana (1kg)', 'Onion (1kg)',
       'Beef Round (1kg) (or Equivalent Back Leg Red Meat)',
       'Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car)',
       'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child',
       'International Primary School, Yearly for 1 Child'],
      dtype='object')

In [ ]:
df.mean()
df.describe

<bound method NDFrame.describe of                          City  ...  International Primary School, Yearly for 1 Child
0    Saint Petersburg, Russia  ...                                           5388.86
1            Istanbul, Turkey  ...                                           6905.43
2               Izmir, Turkey  ...                                           4948.41
3           Helsinki, Finland  ...                                           1641.00
4           Chisinau, Moldova  ...                                           2679.30
..                        ...  ...                                               ...
155      Melbourne, Australia  ...                                          12874.09
156          Perth, Australia  ...                                          11526.08
157         Sydney, Australia  ...                                          11933.55
158         Alexandria, Egypt  ...                                           2132.54
159            Quito, Ecuador  ...                                           6410.05

[160 rows x 56 columns]>

In [ ]:
#colsly observed data we found,most of the needy things price below 2$,. 
needed = [ ]
for i in range(1,len(mean)):
    if mean[i]<=1.50:   
       needed.append(data[i+1])

In [ ]:
needed

['Coke/Pepsi (0.33 liter bottle)',
 'Water (0.33 liter bottle) ',
 'Milk (regular), (1 liter)',
 'Loaf of Fresh White Bread (500g)',
 'Water (1.5 liter bottle)',
 'Domestic Beer (0.5 liter bottle)',
 'One-way Ticket (Local Transport)',
 'Gasoline (1 liter)',
 '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)',
 'Taxi 1km (Normal Tariff)',
 'Potato (1kg)',
 'Lettuce (1 head)',
 'Banana (1kg)',
 'Onion (1kg)']

In [ ]:
c = [ ]
for i in range(1,len(mean)):
    if mean[i]>=1.5:   
       c.append(data[i+1])

In [ ]:
c

['Meal for 2 People, Mid-range Restaurant, Three-course',
 'McMeal at McDonalds (or Equivalent Combo Meal)',
 'Domestic Beer (0.5 liter draught)',
 'Imported Beer (0.33 liter bottle)',
 'Imported Beer (0.33 liter bottle)',
 'Eggs (regular) (12)',
 'Local Cheese (1kg)',
 'Bottle of Wine (Mid-Range)',
 'Imported Beer (0.33 liter bottle)',
 'Imported Beer (0.33 liter bottle)',
 'Cigarettes 20 Pack (Marlboro)',
 'Chicken Breasts (Boneless, Skinless), (1kg)',
 'Monthly Pass (Regular Price)',
 'Volkswagen Golf',
 'Apartment (1 bedroom) in City Centre',
 'Apartment (1 bedroom) Outside of Centre',
 'Apartment (3 bedrooms) in City Centre',
 'Apartment (3 bedrooms) Outside of Centre',
 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment',
 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)',
 'Fitness Club, Monthly Fee for 1 Adult',
 'Tennis Court Rent (1 Hour on Weekend)',
 'Cinema, International Release, 1 Seat',
 '1 Pair of Jeans (Levis 501 Or Similar)',
 '1 Summer Dress in a Chain Store (Zara, H&M, ...)',
 '1 Pair of Nike Running Shoes (Mid-Range)',
 '1 Pair of Men Leather Business Shoes',
 'Price per Square Meter to Buy Apartment in City Centre',
 'Price per Square Meter to Buy Apartment Outside of Centre',
 'Average Monthly Net Salary (After Tax)',
 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate',
 'Taxi Start (Normal Tariff)',
 'Taxi 1hour Waiting (Normal Tariff)',
 'Apples (1kg)',
 'Oranges (1kg)',
 'Cappuccino (regular)',
 'Rice (white), (1kg)',
 'Tomato (1kg)',
 'Beef Round (1kg) (or Equivalent Back Leg Red Meat)',
 'Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car)',
 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child',
 'International Primary School, Yearly for 1 Child']

In [ ]:
below_salary = df[['City','Meal, Inexpensive Restaurant',
       'Meal for 2 People, Mid-range Restaurant, Three-course',
       'McMeal at McDonalds (or Equivalent Combo Meal)',
       'Domestic Beer (0.5 liter draught)',
       'Imported Beer (0.33 liter bottle)', 'Coke/Pepsi (0.33 liter bottle)',
       'Water (0.33 liter bottle) ', 'Milk (regular), (1 liter)',
       'Loaf of Fresh White Bread (500g)', 'Eggs (regular) (12)',
       'Local Cheese (1kg)', 'Water (1.5 liter bottle)',
       'Bottle of Wine (Mid-Range)', 'Domestic Beer (0.5 liter bottle)',
       'Imported Beer (0.33 liter bottle)', 'Cigarettes 20 Pack (Marlboro)',
       'One-way Ticket (Local Transport)',
       'Chicken Breasts (Boneless, Skinless), (1kg)',
       'Monthly Pass (Regular Price)', 'Gasoline (1 liter)', 'Volkswagen Golf',
       'Apartment (1 bedroom) in City Centre',
       'Apartment (1 bedroom) Outside of Centre',
       'Apartment (3 bedrooms) in City Centre',
       'Apartment (3 bedrooms) Outside of Centre',
       'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment',
       '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)',
       'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)',
       'Fitness Club, Monthly Fee for 1 Adult',
       'Tennis Court Rent (1 Hour on Weekend)',
       'Cinema, International Release, 1 Seat',
       '1 Pair of Jeans (Levis 501 Or Similar)',
       '1 Summer Dress in a Chain Store (Zara, H&M, ...)',
       '1 Pair of Nike Running Shoes (Mid-Range)',
       '1 Pair of Men Leather Business Shoes',
       'Price per Square Meter to Buy Apartment in City Centre',
       'Price per Square Meter to Buy Apartment Outside of Centre',
       'Average Monthly Net Salary (After Tax)',
       'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate',
       'Taxi Start (Normal Tariff)', 'Taxi 1km (Normal Tariff)',
       'Taxi 1hour Waiting (Normal Tariff)', 'Apples (1kg)', 'Oranges (1kg)',
       'Potato (1kg)', 'Lettuce (1 head)', 'Cappuccino (regular)',
       'Rice (white), (1kg)', 'Tomato (1kg)', 'Banana (1kg)', 'Onion (1kg)',
       'Beef Round (1kg) (or Equivalent Back Leg Red Meat)',
       'Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car)',
       'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child',
       'International Primary School, Yearly for 1 Child']]

In [ ]:
necessary=below_salary.drop(['City','Meal for 2 People, Mid-range Restaurant, Three-course',
 'McMeal at McDonalds (or Equivalent Combo Meal)',
 'Domestic Beer (0.5 liter draught)',
 'Imported Beer (0.33 liter bottle)',
 'Imported Beer (0.33 liter bottle)',
 'Local Cheese (1kg)',
 'Bottle of Wine (Mid-Range)',
 'Imported Beer (0.33 liter bottle)',
 'Imported Beer (0.33 liter bottle)',
 'Cigarettes 20 Pack (Marlboro)',
 'Chicken Breasts (Boneless, Skinless), (1kg)',
 'Monthly Pass (Regular Price)',
 'Volkswagen Golf',
 'Apartment (1 bedroom) in City Centre',
 'Apartment (1 bedroom) Outside of Centre',
 'Apartment (3 bedrooms) in City Centre',
 'Apartment (3 bedrooms) Outside of Centre',
 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment',
 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)',
 'Fitness Club, Monthly Fee for 1 Adult',
 'Tennis Court Rent (1 Hour on Weekend)',
 'Cinema, International Release, 1 Seat',
 '1 Pair of Jeans (Levis 501 Or Similar)',
 '1 Summer Dress in a Chain Store (Zara, H&M, ...)',
 '1 Pair of Nike Running Shoes (Mid-Range)',
 '1 Pair of Men Leather Business Shoes',
 'Price per Square Meter to Buy Apartment in City Centre',
 'Price per Square Meter to Buy Apartment Outside of Centre',
 'Average Monthly Net Salary (After Tax)',
 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate',
 'Taxi Start (Normal Tariff)',
 'Taxi 1hour Waiting (Normal Tariff)',
 'Cappuccino (regular)',
 'Beef Round (1kg) (or Equivalent Back Leg Red Meat)',
 'Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car)',
 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child',
 'International Primary School, Yearly for 1 Child'], axis=1)

In [ ]:
final = []

In [ ]:
from sklearn.preprocessing import StandardScaler
scalar =StandardScaler()
scalar.fit(necessary)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [ ]:
scaled =scalar.transform(necessary)

In [ ]:
necessary.shape

(160, 20)

In [ ]:
from sklearn.decomposition import PCA
pca =PCA(n_components= 20)
pca.fit(scaled)

PCA(copy=True, iterated_power='auto', n_components=20, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [ ]:
pca_reduction =pca.transform(scaled)
pd.DataFrame(pca_reduction)

           0         1         2   ...        17        18        19
0   -2.642455  0.729602 -0.608329  ... -0.589324  0.216616  0.096508
1   -2.759977 -0.145256  1.009389  ...  0.412612  0.035780  0.010960
2   -3.141483 -0.177687  0.701951  ...  0.452892 -0.003654  0.036061
3    3.558493 -1.573378 -0.391440  ...  0.075341  0.277911  0.367335
4   -3.112025  0.140153 -0.218138  ... -0.080569  0.019873  0.011105
..        ...       ...       ...  ...       ...       ...       ...
155  3.885422  0.162721  0.423986  ... -0.076301 -0.228120  0.018761
156  3.616448 -0.135415  1.181012  ... -0.016511  0.012093 -0.167297
157  4.605342 -0.188883  1.455915  ... -0.209282 -0.133217 -0.149580
158 -4.895197  1.321441 -0.480554  ... -0.249581  0.141346 -0.027907
159 -1.678448  1.415997 -0.531049  ... -0.130408 -0.081331  0.079672

[160 rows x 20 columns]